.card{
    width:30%;
    margin:10px 0;
    background-color:rgba(57, 55, 63, 0.445);
    border-radius: 10px;
    padding:10px 10px;
    overflow:hidden;
    min-height: 100vh;
}
.card:hover{
    background-color:rgba(87, 84, 95, 0.445);

}
.navigation{
    height:20px;
    display:flex;
    justify-content: space-between;
    margin-bottom: 6px
}

.navigation i{
    width:25px;
}
.fa-chevron-left:hover{
    cursor: pointer;
    color:rgb(221, 110, 224);
}
.fa-chevron-right:hover{
    cursor: pointer;
    color:rgb(221, 110, 224);
}
.fa-trash-alt:hover{
    cursor: pointer;
    color: red;
}
.card img{
    width: 80%;
}
.card h3{
    color:white;
    min-height: 10vh;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.description{
  font-size:1rem;
  
  overflow:hidden;
  line-height: 1.5rem;
  max-height: 8rem;
  /* Tres puntitos */
  -webkit-box-orient: vertical;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
}
.card p{
    color: rgb(177, 177, 177);
}

.aditional-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.more {
    color: rgb(223, 0, 231) !important;
}
.more:hover{
    cursor: pointer;
    color: rgb(221, 110, 224) !important;
    text-decoration: underline;
    
}


.show{
    display: flex;
}

.hide{
    display: none;
}

/************************************************************************************************************/ 

.horizontal-card{
    width:100%;
    margin:10px 0;
    background-color:rgba(57, 55, 63, 0.445);
    border-radius: 10px;
    /* padding:10px 10px; */
    overflow:hidden;
    /* min-height: 100vh; */
}
.horizontal-card main{
    display: grid;
    grid-template-columns: 12% 88%;
}

.horizontal-card img{
    width: 100%;
    height: 100%;

}

.horizontal-card .container-flex{
    width: 100%;
    display: flex;
    flex-direction:column;
}

.horizontal-card .main-info{
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    justify-content:center
}
.navigation-flex{
    
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.navigation-flex div{
    display:flex;
    justify-content: space-around;
    width:30%
}
.fa-chevron-up:hover{
    color:rgb(221, 110, 224);
    cursor: pointer;

}
.fa-chevron-down:hover{
    color:rgb(221, 110, 224);
    cursor: pointer;

}
/* More */

.horizontal-card .more-box{
    display:flex;
    flex-direction:column;
    justify-content: center;
    border-top: 1px rgba(128, 128, 128, 0.541) solid;
    width:90%;
}

.horizontal-card .description{
    display: none;

}


.horizontal-card h3{
    font-size: 30px;
    color:white;
    /* min-height: 10vh; */
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    margin-top: 70px;
}

.horizontal-card .aditional-info{
    margin-top:20px;
}
.horizontal-card p{
    color: rgb(177, 177, 177);
}

@media only screen and (max-width: 400px){
 .card{
     width:40%;
     min-height: 50vh
 }
 .description{
    font-size:1rem;
  
    overflow:hidden;
    line-height: 1.5rem;
    max-height: 5rem;
    /* Tres puntitos */
    -webkit-box-orient: vertical;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
 }   
 .card h3{
     max-height: 2rem;
 }

 .horizontal-card h3{
    font-size:20px;
    max-height:2rem;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
 }
 .horizontal-card main{
    grid-template-columns: 30% 70%;
 }
 .more{
     margin: 10px 0;
 }
}