.pc{
    display: grid;
    grid-template-columns: 30% 70%;
    height:85px;
    background-color:black;
    align-items: center;
}
.mobile{
    display: none;
}
h1{
    margin: 0;
}
h1 a{
    font-family: 'Raleway', sans-serif;
    color: rgb(223, 0, 231);
    font-size: 50px;
    margin: 0;
}

h1 a:hover{
    font-family: 'Raleway', sans-serif;
    color: rgb(223, 0, 231);
    font-size: 50px;
    margin: 0;
    text-decoration: none;
}
section{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#search-form{
    width: 50%
}
#input_buscar {
    border: rgba(128, 128, 128, 0.616) solid 1px;
    border-radius: 8px;
    margin: 0 10px 0 10px;
    background-color: rgb(255, 255, 255);

    align-self: center;
    justify-self: center;

    font-size: 14px;
    width: 100%;
    height: 30px;
    padding-left: 5px;

    outline: none;
}
.iconUK{
    margin-bottom: 3px;
}
.normal{
    background-color:rgb(223, 0, 231);
    padding: 10px 25px 10px 18px;
    border-radius:30px;
    color: white; 
}
.normal:hover{
    background-color: rgb(221, 110, 224) !important;
    cursor: pointer;
}
.reverse{
    /* display: none; */
    background-color: white;
    padding: 10px 20px;
    border-radius:30px;
    color: rgb(223, 0, 231)
}

.reverse:hover{
    background-color: rgba(255, 255, 255, 0.904) !important;
    cursor: pointer;
}


@media only screen and (max-width: 400px){
 .pc{
     display: none;
 }   
 .mobile{
     display: flex;
     align-items: center;
     height:60px;
     justify-content: space-around;
 }
 .menu{
     border: none;
 }
 #search-form{
     width: 50%;
 }
 #input_buscar{
     margin: 0;
 }
 .asc{
     margin-top: 30px;
 }
 .uk-active h1 a{
    color: rgb(223, 0, 231);
     
 }
}